<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
Devs: <s>Two</s> One kid from Cardiff.
Version: too early for version control.
Proudly made with <ion-icon name="logo-ionic"></ion-icon>, <ion-icon name="logo-css3"></ion-icon>, <ion-icon name="logo-github"></ion-icon>, <ion-icon name="logo-html5"></ion-icon>, <ion-icon name="logo-javascript"></ion-icon>, <ion-icon name="logo-npm"></ion-icon>, <ion-icon name="logo-sass"></ion-icon>, and built on <ion-icon name="logo-angular"></ion-icon>.
</ion-content>
