<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align:center">
    <img src="/assets/person-add.svg" alt="Icon" style="width: 50%" />
    <ion-input placeholder="Username" [(ngModel)]="name"></ion-input>
    <ion-input placeholder="Password" [(ngModel)]="word" type="password"></ion-input>
    <ion-button color="primary" style="width:100%;" (click)="signup()">Sign up</ion-button>
    <h4><a [href]="'/signin/'">Login</a></h4>
</ion-content>
