<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
            <ion-label position="stacked">Username<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" placeholder="Neat username"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Password<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="password"></ion-input>
        </ion-item>
    </ion-list>
</ion-content>
