@media (prefers-color-scheme: light) {
    ion-toolbar {
        --background: white;
        //color: black;
    }

    .verticalScrollContainer {
        background: white;
    }

    .ion-content {
       --ion-background-color: white;
    }

    .ion-list{
        --background: white;
    }

    .content{
        --background: white;
    }
}

@media (prefers-color-scheme: dark) {
    ion-toolbar {
        --background: black;
        color: white;
    }

    .verticalScrollContainer {
        background: black;
    }

    .ion-content {
        background-color: black;
    }

    .ion-list {
        --background: black;
    }

    .content {
        --background: white;
    }
}
