<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <canvas #lineCanvas></canvas>
  <ion-list lines="none">
    <ion-item>
      <ion-range min="-200" max="200" color="secondary">
            <ion-icon slot="start" size="small" name="contrast"></ion-icon>
            <ion-icon slot="end" name="contrast"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-list>
</ion-content>
